 .cpPage {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }

  .head {
    font-size: 1.2rem;
  }
  
  .form-input-material {
    --input-default-border-color: white;
    --input-border-bottom-color: white;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 40px;
    color: white;
    background: rgba(0, 0, 0, 0.8);
    scale: 1.2;
    border-radius: 10px;
    box-shadow: 0 0.4px 0.4px rgba(128, 128, 128, 0.109),
      0 1px 1px rgba(128, 128, 128, 0.155),
      0 2.1px 2.1px rgba(128, 128, 128, 0.195),
      0 4.4px 4.4px rgba(128, 128, 128, 0.241),
      0 12px 12px rgba(128, 128, 128, 0.35);
  
    h1 {
      margin: 0 0 24px 0;
    }
  
    .form-input-material {
      margin: 12px 0;
    }
  }

  //Style button
  .btn {
    background-color: #7bded7;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
}

@media screen and (max-width: 600px) {
  .login-form {
    scale: 1;
  }
}

@media screen and (max-width: 500px) {
  .login-form {
    scale: 0.8;
  }
}
 
