homePage {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

.noPosts {
  // Center the text in the view when there are no posts
  text-align: center;
  margin: 15rem;
  padding: 30px;

  color: #333;
  font-weight: 700;
  // increase size
  font-size: 4rem;
}

