homePage {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

.cards {
  display: flex;
}

h2 {
  margin: 1rem 1rem 1rem 0rem;
}

.card {
  margin: 1.5rem auto;
  width: 75vw;
  background: #dce2fe;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);

  .content {
    padding: 20px 30px;
  }
}

// Style author name
.author {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
}

// Style small logo image
.logo {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  padding:  0.5rem;
  margin-right: 0.1rem;
}

.by {
  margin: 1rem 0rem 0rem -0.5rem;
  display: flex;  
  align-items: center;
  // justify-content: center;
}