.cards {
  display: flex;
}

h2 {
  margin: 1rem 1rem 1rem 0rem;
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card {
  margin: 1.5rem auto;
  width: 60vw;
  background: #dce2fe;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);

  .content {
    padding: 20px 30px;
  }
}

// Style author name
.author {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
}

// Style small logo image
.logo {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  padding: 0.5rem;
  margin-right: 0.1rem;
}

.by {
  margin: 1rem 0rem 0rem -0.5rem;
  display: flex;
  align-items: center;
  // justify-content: center;
}

// Style dae and time
.date {
  margin-left: auto;
  font-size: 0.8rem;
  color: #999;
}

// Remove style from button
.deletebtn,
.bookmarkbtn {
  display: inline-block;
  padding: 0.5rem 1rem;
  margin: 0.5rem 0rem;
  border-radius: 5px;
  background: #dce2fe;
  color: #333;
  font-size: 1rem;
  scale: 0.9;
  border: none;
}

.deletebtn:hover{
    background: rgb(255, 0, 0);
    color: #fff;
}
.bookmarkbtn:hover{
    background: #333;
    color: #fff;
}

// Clicking on the button will change the color of the button

// Keep the text within the card
.text {
  width: auto;
  word-wrap: break-word;
}
