* {
  padding: 0;
  margin: 0;
}

body{
  background: #eceffc;
}

nav {
  display: flex;
  justify-content: right;
  background: #252525;
  padding: 1.25rem;
  font-size: 1.25rem;
}

.left-links{
  flex: 1;
  text-decoration: none;
  color: #fff;
}

.right-links{
  flex-direction: row;
  text-decoration: none;
  color: #fff;
}

a{
  padding: 0.75rem;
  text-decoration: none;
  font-weight: 500;
  color: #fff;
}
a:hover { color: #dce2fe; }

.signout {
  background: none;
	color: white;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.signout:hover {
  color: #dce2fe;
}

.mobile{
  display: none;
}

// responsive nav bar for mobile devices (smaller than 768px) 
@media screen and (max-width: 500px) {
  nav {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .right-links {
    display: none;
  }

  .mobile {
    display: block;
  }

  .right-links-mobile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}